.sideBar {
    transform: translateX(0);
    transition: all 0.5s;
}

/* .active {
    transform: translateX(0);
} */

.slidebar-todo {
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slidebar-todo::-webkit-scrollbar { 
    display: none;  
}

@media (min-width: 820px) {
    .sideBar {
        transform: translateX(0);
    }
}